/* @import url("../bio/Bio.css"); */

.imagecontainer {
  padding-top: 1%;
  width: 45%;
  margin-right: 20px;
  display: grid;
  grid-column-gap: 4%;
}
.overall {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: larger;
  line-height: 2em;
}
.Events-text {
  width: 52%;
}

img {
  max-width: 100%;
  height: auto;

}
/* .image1 {
    grid-column: 1;
    grid-row: 1;
   } */
/* .image2 {
    grid-column: 2;
    grid-row: 1;
   } */
.image3 {
  grid-column: 1 / span 2;
  grid-row: 2;
  width: 50%;
  margin: 0 auto;
}

ul {
  padding-left: 10%;
  text-align: left;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: white;
}

.Events-header h1 {
  color: white;
  text-align: center;
  font-size: 45px;
  margin-top: 20px;
}

hr {
  background-color: white;
  width: 90%;
  border-radius: 100%;
  margin: 8px auto 25px auto;
  height: 2px;
}

.spin::before {
  content: "☣";
  font-style: normal;
  font-size: 1.2em;
  -webkit-animation: spin 10s linear infinite alternate;
  -moz-animation: spin 10s linear infinite alternate;
  animation: spin 10s linear infinite alternate;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  display: inline-block;
  margin-right: 2%;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    color: red;
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(-360deg);
    color: red;
  }
}

.position-text,
.date {
  margin-left: 26px;
}

@media only screen and (max-width: 480px) {
  .overall {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /* font-size: small; */
    line-height: 1.5em;
  }
  .Events-text {
    width: 100%;
    justify-self: center;
  }
  .imagecontainer {
    /* width: 80%;
    margin-right: 0; */
    display: grid;
    grid-column-gap: 4%;
  }
  .image3 {
    margin-top: 11px;
  }
  .imagecontainer {
    width: auto;
  }
  .spin::before {
    display: none;
  }

  .imagecontainer {
    margin-right: 0;
    max-width: 85%;
  }
  ul {
    margin-top: 15px;
    padding-left: 0;
    margin-bottom: 20px;
  }

  ul li a {
    font-size: 17px;
  }

  li {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
  }

  .position-text,
  .date {
    margin-left: 0;
  }

  .Events-header h1 {
    font-size: 8vw;
    margin-top: 0;
  }
  .Events-header {
    padding-top: 20px;
  }
}
